#article_index
  .article_list
    -@articles.each do |article|
      .article
        %h1= link_to article.title, article_url(article)
        %p.subtitle
          - if article.publish_date
            %span.date= t('.date', date: l(article.publish_date, format: :long))
          %span.author= t('.author', author: article.user.email)
        .content
          = markdown_for_index(article.content.truncate(1000))
          .read_next
            = link_to t('.read_next'), article_url(article)
