#header
  %p.logo= link_to image_tag("logo.png"), root_url
  %ul#menu
    %li.parent
      %span{class: params[:controller] == "pages" && (params[:id] == "frenchburners" || params[:id] == "burningman") ? "active" : ""}= t('.presentation')
      %ul.childs.hide
        %li= link_to "French Burners", frenchburners_url
        %li= link_to "Burning Man", burningman_url
    %li= link_to t('.principles'), principles_url, class: params[:controller] == "pages" && params[:id] == "10-principles" ? "active" : ""
    %li= link_to t('.blog'), "#"
    %li= link_to t('.events'), "#"
    %li= link_to t('.gallery'), "#"
    %li= link_to t('.contact'), "#"
  .login
    - if user_signed_in?
      %p.administration= link_to t('.administration'), admin_newsletters_url
      %p.logout= link_to t('.logout'), destroy_user_session_url, method: :delete
    - else
      %p.auth= link_to t('.login'), new_user_session_url
  .lang
    = link_to "fr", url_for(params.merge(locale: 'fr')), class: I18n.locale == :fr ? "active" : ""
    %span
      |
    = link_to "en", url_for(params.merge(locale: 'en')), class: I18n.locale == :en ? "active" : ""

  .clearette
  - flash.each do |flash_type, flash_text|
    = content_tag(:p, flash_text, :class => "flash #{flash_type}")
