#page_show
  #burning-man
    %h1.page-title Burning Man
    = image_tag "illustration-bm.jpg"
    %h2 Historique
    %p Le rassemblement a commencé en 1986 sur une plage de San Francisco, et aujourd'hui ce sont 70 000 personnes qui convergent chaque année, fin août, dans un désert du Nevada, pour créer une ville éphémère qui surgit de nulle part pour une semaine, à 7 heures de route de San Francisco.
    %p Burning Man est une communauté temporaire, dédiée à des formes radicales d'auto-expression et d'autosuffisance. Dans un environnement surnaturel où l’argent est exclu, Burning Man peut aussi être vu comme une forme d’utopie artistique et festive.
    %p
      Burning man est une utopie contemporaine éphémère qui se déroule à Black Rock City, ville sortie du désert pour 7 jours de rupture avec la vie de tous les jours. Créativité et partage sont les maîtres mots du Burning Man, expérience qui parait unique dans un cadre exceptionnel.
      = image_tag "BMskyview.jpg", class: "left_image"
    %p
      %strong Il y a quelques règles à respecter :
    %ul
      %li
        %p
          %strong Self reliance (autonomie) :
          Il n'y a pas d'argent a Burning Man, il est donc impossible de faire de transactions marchandes. Il faut amener son eau et sa nourriture pour toute la durée du festival ainsi qu'un peu plus pour offrir aux autres en cas de besoin. Partage.
      %li
        %p
          %strong No spectator :
          Burning Man n'est pas un festival comme les autres et vise à promouvoir la créativité et la spontanéité de chacun. On ne peut donc y venir en simple spectateur mais il faut prendre une part active à l’expérience : avoir un morceau de musique à jouer, des choses à offrir comme des art-performances, des œuvres à exposer dans le désert... L'idée est de stimuler aux maximum la créativité de tous jusqu'à l'émulation.
      %li
        %p
          %strong Leave no trace :
          Ne laisser aucune trace dans le désert après le festival afin d'éviter de polluer ce site magnifique. Des centaines de volontaires restent pendant plusieurs semaines afin de nettoyer le site.
    = link_to "Voir les 10 principes", principles_url

    %p
      = image_tag "french_burners_3.jpg", class: "right_image"
      Des centaines d'installations artistiques jaillissent au milieu du désert, exposées anonymement par des artistes:
    %p Mais ces oeuvres peuvent aussi etre créées par tout un chacun. En effet, la participation de chacun est encouragée: expression personnelle radicale et créativité! Chacun peut se révéler une âme d'artiste, créer et exposer son oeuvre !
    %p Programme ou non à la main, on se déplace parmi les centaines de "camps à thème" qui proposent des milliers de happenings et d'activités permettant de faire l'expérience de nombreuses choses plus ou moins sérieuses ou délirantes!
    %p
      Les seuls véhicules autorisées à se déplacer au sein de Burning Man sont
      %strong les véhicules mutants :
    %p
      %strong On croise ainsi des "véhicules" invraisemblables :
      bateaux, requins, baleines... qui en plus sont magnifiquement éclairés la nuit.
    %p
      Les habitants de cette ville éphémère sont
      = succeed "..." do
        %strong souriants, joyeux, aimables
      = succeed "." do
        %strong utopie
    %p
      Ce n'est ni trop grand (i.e. on se déplace en vélo), ni trop étriqué car ses
      %strong 70 000
      personnes sont réparties sur une surface de
      = succeed "." do
        %strong 4 km x 4 km
    %p Les conditions de vie sont généralement agréables. Les températures - aux alentours de 35°C - sont tout à fait supportables car l'air est sec et il règne en permanence un petit vent salvateur. Mais on ne peut exclure des conditions difficiles par moment, notamment lors des tempêtes de sable. Celles-ci apportent une certaine magie lorsqu'elles se présentent mais elles mettent à rude épreuve le campement et la vision qui nécessitent des "goggles" (i.e. lunettes d'aviateur ou lunettes de ski). Les nuits peuvent également se révéler froides lorsqu'il vente, mais il n'est pas rare de pouvoir être torse nu jusqu'à 2 heures du matin.
    %p On se préparera avec minutie pour BURNING MAN car l’événement a lieu dans un désert où l’on ne peut rien acheter. On pourra juste acheter de la glace pour conserver ses aliments frais dans des glacières et du café & thé au Center Camp. En dehors de cela, c'est la générosité qui prime : tout est offert par tout un chacun: cocktail, hot dog,...
    %p Afin de bien s'intégrer, on se préparera des tenues spéciales pour le jour et la nuit. Il s'agit de se fondre dans le désert et de faire perdurer ce dress-code délirant qui est la première forme de spectacle à BURNING MAN.
    = link_to "Autres évènements Burners autour de la france", "#"
