#page_show
  #french_burners
    %h1.page-title French Burners
    = image_tag "french_burners_1.jpg", alt: "French Burners", title: "French Burners"
    %p .
    %h2 Qui sommes-nous ?
    %p
      French Burners représente la communauté officielle de BURNING MAN en France. Elle réunit toutes les personnes intéressées par BURNING MAN et crée des événements autour de ses principes, dont les plus fameux sont les
      %strong BURNING NIGHT!
    %p
      %strong La communauté a été créée en 2007 par les représentants officiels de Burning Man en France, dits "Regional Contacts".
      %br/
      Frenchburners a donc le soutien officiel de l'organisation basée à San Francisco. French Burners est une association loi 1901 à but non lucratif.
      %br/
      = image_tag "french_burners_2.jpg", class: "right_image"
    %h2 French Burners !?!
    %p Nous sommes avant tout des burners! Etre un burner, c’est surtout se sentir proche des principes et valeurs du Burning Man : ouverture d’esprit, expression artistique, don & partage, respect des autres et de son environnement et donc civisme, autonomie,...
    %p
      %strong Nous représentons BURNING MAN en France
      En tant que « Regional Contact » pour la France, nous représentons Burning Man en France. Nous répondons aux questions de la presse, nous organisons des événements officiels…
    %p
      %strong Nous organisons des événements sur Paris
      Nous créons tous les ans une Burning Night, en général dans la première moitié de l'année, nous organisons des Burning Café quasiment tous les mois, des Burning Picnic dès que les beaux jours arrivent, des projections...
    %p
      %strong UNE COMMUNAUTE ACTIVE !
      Nous nous réunissons lors des désormais mythiques et délirantes BURNING NIGHT. Mais pas seulement. Lors du Burning Café mensuel, lors des occasionnels Burning Brunch, Burning Pique-nique,... ainsi qu'à la Decompression Party londonienne début décembre. Et naturellement, nous préparons ensemble le voyage à BURNING MAN fin août. Et même à NOWHERE, le mini Burning Man européen qui se tient en juillet en Espagne.
    %p
      %strong Nous aidons les Français à se préparer à BURNING MAN
      %br/
      Nous fournissons des informations précieuses pour se rendre à BURNING MAN, ainsi qu'un support sous la forme notamment de réunions d'information et de préparation.
    %h2 Listes de nos événements
    %table
      %thead
        %tr
          %th
          %th
      %tbody
        %tr
          %td
            = image_tag "events/burning_cafe_small.jpg"
          %td
            %strong BURNING CAFE - Paris - Environ tous les mois
            %br/
            Nous faisons brûler la flamme autour d'une rencontre conviviale
            %br/
            entre les membres de la communauté. Tout le monde est bienvenu
            %br/
            membres ou non du site, amis d'amis,...
            %br/
            = link_to "En savoir plus sur les BURNING CAFE", "http://www.facebook.com/frenchburners", :target => "_blank", class: "btn"
        %tr
          %td
            = image_tag "events/burning_night_small.jpg"
          %td
            %strong BURNING NIGHT - Paris - Printemps
            C'est la grosse soirée BURNING MAN en France, dont elle respecte
            %br/
            les principes. Un mélange de fête, d'Art
            %br/
            et d'Expériences immédiates.
            %br/
            = link_to "En savoir plus sur les BURNINT NIGHT", "#", class: "btn"
        %tr
          %td
            = image_tag "events/burning_weekend_small.png"
          %td
            %strong FRENCH BURNING WEEK-END - France - Septembre
            En 2013 s'est tenu le premier BURNING WEEK-END français
            %br/
            dans le nord de la France :
            %br/
            = link_to "En savoir plus sur les FRENCH BURNING WEEK-END", "#", class: "btn"
    %p .
    %h2 S'impliquer dans l'association :
    %p S'impliquer dans l'association pour faire vivre les valeurs du BURNING MAN en France, à la rencontre des autres burners.
    %p
      %strong Qui peut rejoindre les French Burners ?
      %br/
      La communauté est ouverte à chaque personne qui respecte les valeurs de Burning Man et habite en France pour être un French Burner que l'on soit allé ou non dans le désert du Nevada.
      %br/
      Nous vous proposer dès maintenant de devenir un membre à part entière de l’association, d'affirmer votre soutien pour nos valeurs et votre participation au sein de la communauté.
      %br/
      Grâce à votre geste nous pourrons encore mieux élaborer des événements au plus proche de vos attentes.
      %br/
      Nous sommes heureux de voir notre famille s'agrandir , une graine est plantée à ce jour et nous espérons en voir les fruits tout au long de l'année.
      %br/
      = image_tag "french_burners_3.jpg", class: "left_image"
    %p Une fois membre de l'association, vous pourrez:
    %ul
      %li Etre tenus informés des activités en préparation, donner votre avis, vous impliquer dans l'organisation.
      %li Participer aux réunions de l'association et faire entendre vos idées.
      %li
        %p Proposer la création de nouveaux événements et vous impliquer dans la vie de l'association en prenant des responsabilités si vous le souhaitez.
        %p
          %strong Comment devenir membre?
          %br/
          Il suffit d'adhérer à l'association en ligne en cotisant 5,43€, par carte bancaire, ou un compte Paypal :
    = link_to "Adhérer à l'association", "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=E7LS5TNDFPX76", target: "_blank", class: "btn"
.clearette
